<div class="container mt-4">
  <div class="card">
    <form (ngSubmit)="submitRequest()" #requestForm="ngForm">
      <h1 class="highlight">Submit a Request</h1>
      <div class="form-group">
        <label for="requester">Requester Name</label>
        <input
          type="text"
          id="requester"
          name="requester"
          [(ngModel)]="user"
          required
          pattern="[A-Za-z0-9]+"
          class="form-control"
          placeholder="Enter requester name"
        />
      </div>
      <div class="form-group">
        <label for="title">Movie</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="movie"
          required
          class="form-control"
          placeholder="Enter title"
        />
      </div>

      <button
        type="submit"
        [disabled]="!requestForm.valid"
        class="btn btn-primary"
      >
        Submit Request
      </button>
    </form>
    <p class="disclaimer">
      By submitting this request, you acknowledge and agree that the information
      provided is accurate and complete. You understand that your request for
      content (e.g., movie, TV show) is subject to availability and approval.
      You agree to abide by the Terms of Service and Privacy Policy of our
      platform. Please be aware that this request does not guarantee the
      addition of the requested content to our library.
    </p>
  </div>
</div>
